<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-small {% endif %} is-bold is-dark" style="background: transparent;" >
    
    {%if page.show_video %}
        <video id="homevideoheader" 
            autoplay 
            -poster="/video/bg-small2.webm" 
            muted 
            playsinline 
            _src="/video/bg-small2.webm" 
            style="width: 100vw; height: 100vh; object-fit: cover; overflow: hidden; z-index: -1; position:absolute;left:50%;top:0;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0)" 
            src="/video/bg-small2.webm">
        </video>
    {% endif %}

    <div class="hero-body ">
        <div class="container">
            <p class="title is-2 has-background-white has-text-black">{{ page.title }}</p>
            <p class="subtitle is-3">{{ page.subtitle }}</p>
        </div>

        {%if page.show_video %}

        <div class="container-flex">
            <div class="home-button">
                <a href="{{ page.link1 }}" class="screen100-img" >
                    <img width="250px" height="250px" src="{{ page.foto1 }}" alt=" Pre-iscrizione 2024-25" />
                    <p class="home-button-text">{{ page.text1 }}</p>
                </a>
            </div>
            <div class="home-button">
                <a href="{{ page.link2 }}" class="screen100-img" >
                    <img width="250px" height="250px" src="{{ page.foto2 }}" alt="Lions Volley: la nostra storia" />
                    <p class="home-button-text">{{ page.text2 }}</p>
                </a>
            </div>
            <div class="home-button">
                <a href="{{ page.link3 }}" class="screen100-img" >
                    <img width="250px" height="250px" src="{{ page.foto3 }}" alt="Open day" />
                    <p class="home-button-text">{{ page.text3 }}</p>
                </a>
            </div>
        </div>

        {% endif %}
    </div>
</section>
