<div class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a class="navbar-item" href="{{ site.baseurl }}/">Home</a>
            </div>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Club
                </a>
                <div class="navbar-dropdown">
                    <!--a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/history/">Storia</a>
                    </a-->
                    <a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/organization/">Organigramma</a>
                    </a>
                    <!--a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/staffs/">Staff tecnico</a>
                    </a-->
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Stagione
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/2022-2023/season/">2022/2023</a>
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    News
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/2022-2023/news/">Stagione 2022/2023</a>
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Giovanili
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/boys/">Maschile</a>
                    </a>
                    <a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/girls/">Femminile</a>
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Sponsors
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <a class="navbar-item" href="{{ site.baseurl }}/2022-2023/sponsors/">Stagione 2022/2023</a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>