<div class="card">
    <div class="card-image">

        {% if post.image %}
        <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" width="100%">
        {% endif %}


    </div>
    <div class="card-content">
        <div class="content">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <p class="title is-4">{{ post.title}}</p>
            </a>
            <p class="subtitle is-6">Pubblicato il {{ post.date | date: "%-d/%-m/%Y" }} da: {{ post.author }}</p>
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
            </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-dark is-fullwidth">Vai alla notizia</a>
        </div>
    </div>
</div>