<div class="sponsor-media">
    <div class="media">
        <figure class="media-left">
            <a href="{{ sponsor.url }}">
                <p class="image is-128x128">
                    {% if sponsor.image_url %}
                    <img src="{{ sponsor.image_url }}" alt="{{ sponsor.name }}" />
                    {% else %}
                    <i class="fas fa-user fa-4x"></i>
                    {% endif %}
                </p>
            </a>
        </figure>
        <div class="media-content">
            <a href="{{ sponsor.url  }}">
                <p class="title is-5">{{ sponsor.name }}</p>
            </a>
            <p class="subtitle is-5">{{ sponsor.position }}</p>
            <div class="content">
                <p>{{ sponsor.description }}</p>
            </div>
        </div>
    </div>
</div>
