.hero.is-40height {
    min-height: 40vh;
}

.hero.is-80height {
    min-height: 80vh;
}

.hero.is-100height {
    min-height: 100vh;
}

.opaque {
    background-color: white;
}

.content {
    ul.pagination-list {
        list-style: none;
        margin-left: 0;
        margin-top: 0;

        li+li {
            margin-top: 0;
        }
    }
}

div.highlight {
    margin-bottom: 1rem;
}
.navbar-item {
    font-family: "MonsterMech";
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.sponsor-media {
    padding: 1.5rem;
    background: $light;
}

.team-media {
    padding: 1.5rem;
    background: $light;
}

.player-media {
    padding: 1.5rem;
    background: $light;
}

.staff-media {
    padding: 1.5rem;
    background: $light;
}

.author-media {
    padding: 1.5rem;
    background: $light;
}

.sponsor-media {
    padding: 1.5rem;
    background: $light;
}

video {
    max-width: fit-content;
}

.container-flex {
    height: 80vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-button {
    max-width: 25%;
    min-width: 25%;
}

.home-button-text {
    font-size: 2rem;
    color: white;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container-flex {
        flex-direction: column;
        justify-content: space-around;
    }

    .home-button {
        max-width: 60%;
        min-width: 40%;
    }

    .home-button-text {
        font-size: 1rem;
        color: white;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
    }
}
