---
layout: default
---

<div class="content">
    {{ content }}
</div>

<div class="columns is-multiline">
    {% assign post_width = "12|6|6|4|4|4" | split: "|" %}
    {% for post in paginator.posts limit:6 %}
    <div class="column is-{{ post_width[forloop.index0] }}">
        {% include post-item.html %}
    </div>
    {% endfor %}

    <div class="column is-12">
        {% include pagination.html %}
    </div>
</div>



<article class="message is-medium">
    <div class="message-header">
        <p>Contatti</p>
    </div>
    <div class="message-body">
        Per chiederci informazioni o per iscriverti chiamaci al <a href="tel://3922511363">392.2511363</a> o al <a
            href="tel://3387795371">338.7795371</a>
    </div>
</article>